<?xml version="1.0"?>
<robot name="inverted_pendulum" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="inverted_pendulum.common.xacro" />
    <xacro:include filename="inverted_pendulum.model.xacro" />
    <xacro:include filename="inverted_pendulum.gazebo.xacro" />

</robot>